body{width:960px;margin:0 auto;font-family:'tahoma';background-color:#ede1ed;}
#main{color:#666;border:10px solid #8f4685;position:relative;}
#main > div{display:inline-block;padding:0 10px;}
#left{width:600px;background-color:#fff;}
#right{width:300px;background-color:#c9a3c9;float:right;height:100%;position:absolute;right:0;}
h1{font-size:30px;margin:15px 0;}
h2{font-size:24px;margin:15px 0;}
h3{font-size:22px;margin:15px 0;}
h4{font-size:18px;margin:10px 0;}
.photo{padding:25px;}
.photo img{width:250px;height:250px;border-radius:125px;}
.contacts img{width:25px;height:25px;vertical-align:middle;}
.contacts p{margin-left:10px;vertical-align:middle;display:inline-block;}
.info{border-top:4px solid #8f4685;margin:15px 0;}
li {list-style-type:none;margin: 5px 0;}
li:before{color:#8f4685;content: "•";padding-right: 10px;font-size:17px;}
p{margin:10px 0;}
ul{padding:0;}
a{color:#8f4685;}
a:hover{color:#666;}
span{color:#e6e6e6;}